<h1>My Lists (<%= @lists.count %>)</h1>

<ol>
  <% @lists.each do | list | %>
    <li>
      <%= link_to list_tasks_path(list) do%>
        <%= list.name %> (<%= list.tasks.count %> tasks)
      <% end %>
    </li>
  <% end %>
</ol>
